/*USE [master]
GO*/
/****** Object:  Database [FUNERARIA]    Script Date: 20/11/2019 05:58:31 p. m. ******/
CREATE DATABASE [FUNERARIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUNERARIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FUNERARIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FUNERARIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FUNERARIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUNERARIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUNERARIA]
GO
/****** Object:  Table [dbo].[ATAUD]    Script Date: 20/11/2019 05:58:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATAUD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [decimal](18, 2) NULL,
	[Codigo] [varchar](50) NULL,
 CONSTRAINT [PK_ATAUD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINADO]    Script Date: 20/11/2019 05:58:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINADO](
	[Documentos] [varchar](90) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_FINADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOV]    Script Date: 20/11/2019 05:58:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Proveedor] [varchar](50) NULL,
	[TMov] [bit] NULL,
	[FK_ATAUD] [int] NULL,
 CONSTRAINT [PK_MOV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MOV]  WITH CHECK ADD  CONSTRAINT [FK_MOV_ATAUD] FOREIGN KEY([FK_ATAUD])
REFERENCES [dbo].[ATAUD] ([ID])
GO
ALTER TABLE [dbo].[MOV] CHECK CONSTRAINT [FK_MOV_ATAUD]
GO
USE [master]
GO
